:root {
  --font: "DM Sans", serif;
  --themecolor: #00b0b9;
  --textcolor: #748ba0;
  --headcolor: #0c1d2e;
  --backgroundcolor: rgb(246, 249, 249);
  --whitecolor: white;
}

html {
  padding: 0px;
  margin: 0px;
  /* background-color: red; */
}


/* ==== loadingpage ==== */
.carousel-indicators [data-bs-target] {
  background-color: var(--themecolor) !important;
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
}

.carousel-item img {
  width: min(70%, 400px) !important;
  margin-bottom: 35px !important;
}

#loadingpage {
  background-color: var(--backgroundcolor);
  /* background-color: black; */
}

#apptext {
  background-color: var(--whitecolor);
}

.loadinghead {
  font: 700 28px var(--font);
  color: var(--headcolor);
  margin-bottom: 20px;
}

.loadingtext {
  font: 400 16px var(--font);
  color: var(--textcolor);
}

#loadingbtn {
  font: 600 15px var(--font);
  color: var(--whitecolor);
  background-color: var(--themecolor);
  width: 290px;
  padding: 15px 0px;
}

/* ==== loginform ==== */
#loginform {
  background-color: var(--backgroundcolor);
  /* background-color: var(--themecolor); */
}

#formdiv {
  background-color: var(--whitecolor);
}

#loginformhead {
  font: 700 28px var(--font);
  color: var(--headcolor);
  margin-bottom: 14px;
}

#loginformtext {
  font: 400 16px var(--font);
  color: var(--textcolor);
  margin-bottom: 30px;
}

.logininpuut {
  background-color: rgb(233, 243, 246) !important;
}

.logininpuut::placeholder {
  font: 500 15px var(--font);
  color: rgba(116, 139, 160, 0.6) !important;
}

#flexCheckIndeterminate {
  background-color: rgb(233, 243, 246);
}

#checkboxtext {
  font: 400 14px var(--font);
  color: var(--textcolor);
}

#forgotpasstext {
  font: 400 14px var(--font);
  color: var(--themecolor);
}

#loginbtn {
  font: 600 15px var(--font);
  color: var(--whitecolor);
  background-color: var(--themecolor);
  width: 240px;
  padding: 15px 0px;
  margin-top: 35px;
}

#signupbtn{
  font: 400 14px var(--font);
  color: var(--textcolor);
}

#signupbtn span{
  color: var(--themecolor);
}

.formicondiv{
  background-color: var(--whitecolor);
}

.formicon{
  font-size: 1.2em;
  color: #0077B5;
}